# Server
PORT=3001

# MongoDB
MONGODB_URI=mongodb://localhost:27017/maec

# PACS - Orthanc server (internal)
ORTHANC_URL=http://localhost:8042

# OHIF Viewer (public URL browser uses)
OHIF_URL=http://localhost:3000
